<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="uk.co.sinjakli.eclipserunhelper.commands.category"
            defaultHandler="uk.co.sinjakli.eclipserunhelper.handlers.DisplayRunHelperHandler"
            description="Command which displays the Launch Helper dialog"
            id="uk.co.sinjakli.eclipserunhelper.displayRunHelper"
            name="Display Run Helper">
         <commandParameter
               id="uk.co.sinjakli.eclipserunhelper.launchType"
               name="Launch Type"
               optional="false"
               values="uk.co.sinjakli.eclipserunhelper.ui.RunHelperCommandParameterValues">
         </commandParameter>
      </command>
      <category
            description="Run Helper Commands Category"
            id="uk.co.sinjakli.eclipserunhelper.commands.category"
            name="Run Helper">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="uk.co.sinjakli.eclipserunhelper.displayRunHelper"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+F11">
         <parameter
               id="uk.co.sinjakli.eclipserunhelper.launchType"
               value="RUN">
         </parameter>
      </key>
      <key
            commandId="uk.co.sinjakli.eclipserunhelper.displayRunHelper"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+F11">
         <parameter
               id="uk.co.sinjakli.eclipserunhelper.launchType"
               value="DEBUG">
         </parameter>
      </key>
   </extension>

</plugin>
