<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uk.co.sinjakli.eclipserunhelper.DisplayRunHelperHandler"
            description="Command which displays the Launch Helper dialog"
            id="uk.co.sinjakli.eclipserunhelper.displayRunHelper"
            name="Display Run Helper">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="uk.co.sinjakli.eclipserunhelper.displayRunHelper"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+F11">
      </key>
   </extension>

</plugin>
