<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="uk.co.sinjakli.eclipserunhelper.RunLastLaunchHandler"
            description="Command which runs the previous launch configuration"
            id="uk.co.sinjakli.eclipserunhelper.runLastLaunch"
            name="Run Last Launch">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="uk.co.sinjakli.eclipserunhelper.runLastLaunch"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+F11 1">
      </key>
   </extension>

</plugin>
